<%= form_with(model: vaccination_center, local: true) do |form| %>
  <% if vaccination_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vaccination_center.errors.count, "error") %> prohibited this vaccination_center from being saved:</h2>

      <ul>
        <% vaccination_center.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :zip %>
    <%= form.text_field :zip, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
