<tr>
  <td><%= vaccination_center.name %></td>
  <td><%= vaccination_center.address %></td>
  <td><%= vaccination_center.zip %></td>
  <td><%= link_to 'Show', vaccination_center %></td>
  <td><%= link_to 'Edit', edit_vaccination_center_path(vaccination_center) %></td>
  <td><%= link_to 'Destroy', vaccination_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>