<div class="col-md-4 col-sm-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-center"><%= link_to "#{vaccination_center.name}", vaccination_center %></h4>
      <p class="card-text">
        <strong>Address: </strong><%= vaccination_center.address %><br>
        <strong>Zip: </strong><%= vaccination_center.zip %>
      </p>
      <div class="attribute-buttons">
        <div class="btn btn-info"><%= link_to 'Edit', edit_vaccination_center_path(vaccination_center) %></div>
        <div class="btn btn-danger"><%= link_to 'Destroy', vaccination_center, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    </div>
  </div>
</div>